.Page {
	position:absolute;
	width:100%;
	height:100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.Page_header {
	flex: 1;
	max-height:70px;
	border-bottom: 1px solid #00DBDB;
}

.Page_content {
	flex: 1;
	position: relative;
}
