.Page {
	position:absolute;
	width:100%;
	height:100%;
	overflow: hidden;
}

.Page_navigation {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;

	width: 300px;
	border-right: 1px solid #00DBDB;
}

.Page_content {
	display: block;
	position: absolute;
	left: 300px;
	right: 0;
	top: 0;
	bottom: 0;
}

.Page-sidebarOpened {
	.Page_content {
	//	transform: translate3d(220px, 0, 0);
	}
}


@media (max-width: 1200px) {
	.Page_navigation {
		width: 25vw;
	}

	.Page_content {
		left: 25vw;
	}
}

@media (max-width: 900px) {
	.Page {

	}

	.Page_navigation {
		height:120px;
		top:0;
		right:0;
		left:0;

		border-bottom: 1px solid #00DBDB;
		border-right: 0;
		width:100%;
		overflow: hidden;
		transition: height 350ms ease;
	}

	.Page_content {
		top:120px;
		bottom:0;
		right:0;
		left:0;
	}

	.Page-navigationOpened {
		.Page_navigation {
			height: auto;
			bottom: 0;
			border:0;
		}

		.Page_content {
			transform: translate3d(100vh, 0, 0);
			transition: transform 350ms ease;
		}
	}
}