* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  color: #00B2B2;
}


@import "components/body-layout.less";
@import "components/voronoi.less";
@import "components/page.less";
@import "components/board-detail.less";
@import "components/board-list.less";
@import "components/board-header.less";
